
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <meta property="og:title" content="차茶정해봅시다"/>
    <meta property="og:description" content="쉽게 알아보는 내게 맞는 차"/>
    <meta property="og:image" content="/static/ogimage.jpg"/>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <title>차 정보 가져오기</title>

    <link rel="stylesheet" href="../static/style_get.css" />
    <script>

        // **영은 담당 -- 이상한 거 있으면 연락주세요 !!

        $(document).ready(function () {
            showTea();
        });

        // 차 정보 보이게 하기 
        // **확정** 
        function showTea() {
            $.ajax({
                type: "GET",
                url: "/tea/list",
                data: {},
                success: function (response) {
                    let Tea = response['all_teas']
                    for(let i =0; i<Tea.length; i++){
                        let name = Tea[i]['name']
                        let type = Tea[i]['type']
                        let benefit = Tea[i]['benefit']
                        let caffeineOX = Tea[i]['caffeineOX']
                        let caffeine = Tea[i]['caffeine']
                        let benefitdetail = Tea[i]['benefitdetail']
                        let desc = Tea[i]['desc']
                        let caution = Tea[i]['caution']
                        let img = Tea[i]['img']
                        let like = Tea[i]['like']

                        let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button>좋아요 수 : ${like}</p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
                        $('#box').append(temp_html)
                    }
                }
            })
        }

        // 이름순 정렬 -- 버튼 누르면 실행 
        // **확정** 
        function sortName() {
            $.ajax({
                type: "GET",
                url: "/tea/list",
                data: {},
                success: function (response) {
                    $('#box').empty()
                    let Tea = response['all_teas'] 
                    Tea.sort((a, b) => a.name.toLowerCase() < b.name.toLowerCase() ? -1 : 1);  

                    for(let i =0; i<Tea.length; i++){
                        let name = Tea[i]['name']
                        let type = Tea[i]['type']
                        let benefit = Tea[i]['benefit']
                        let caffeineOX = Tea[i]['caffeineOX']
                        let caffeine = Tea[i]['caffeine']
                        let benefitdetail = Tea[i]['benefitdetail']
                        let desc = Tea[i]['desc']
                        let caution = Tea[i]['caution']
                        let img = Tea[i]['img']
                        let like = Tea[i]['like']

                        let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button>좋아요 수 : ${like}</p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
                        $('#box').append(temp_html)
                    }
                }
            })
        }

        // 좋아요순 정렬 -- 버튼 누르면 실행 
        // **확정** 수정사항 없음
        function sortLike() {
            $.ajax({
                type: "GET",
                url: "/tea/list",
                data: {},
                success: function (response) {
                    $('#box').empty()
                    let Tea = response['all_teas']
                    Tea.sort((a, b) => b.like - a.like);

                    for(let i =0; i<Tea.length; i++){
                        let name = Tea[i]['name']
                        let type = Tea[i]['type']
                        let benefit = Tea[i]['benefit']
                        let caffeineOX = Tea[i]['caffeineOX']
                        let caffeine = Tea[i]['caffeine']
                        let benefitdetail = Tea[i]['benefitdetail']
                        let desc = Tea[i]['desc']
                        let caution = Tea[i]['caution']
                        let img = Tea[i]['img']
                        let like = Tea[i]['like']

                        let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button>좋아요 수 : ${like}</p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
                        $('#box').append(temp_html)
                    }
                }
            })
        }

        // 검색 기능
        // **확정
        function search(){
            let count = 0; // 검색된 차 개수를 담을 변수
            let teaKeyword = $('#teaName').val(); // 입력한 검색어 담기

            $.ajax({
                type: "POST",
                url: "/tea/search",
                headers: {'Content-Type': 'application/json'},
                dataType: 'json',
                data: JSON.stringify({
                    teaKeyword: teaKeyword, // 서버로 검색어 보내기
                }),
                success: function (response) {
                    $('#box').empty()
                    let Tea = JSON.parse(response['search_teas']) // 서버에서 검색한 결과 값 json형식으로 받아옴

                    for (let i = 0; i < Tea.length; i++){

                            let name = Tea[i]['name']
                            let type = Tea[i]['type']
                            let benefit = Tea[i]['benefit']
                            let caffeineOX = Tea[i]['caffeineOX']
                            let caffeine = Tea[i]['caffeine']
                            let benefitdetail = Tea[i]['benefitdetail']
                            let desc = Tea[i]['desc']
                            let caution = Tea[i]['caution']
                            let img = Tea[i]['img']
                            let like = Tea[i]['like']

                        let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button> 좋아요 수 : ${like}</p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
                        $('#box').append(temp_html) // 차 정보 출력
                        count++; // 실행될 때마다 검색된 차의 개수 1씩 증가 시키기
                }
                    let count_html =`<p>${count}개 찾았습니다</p>` // 검색된 결과 개수 출력
                    $('#box').append(count_html) 
                }
            })
        }


        // 검색어를 입력하고 "엔터키"를 쳐도 검색이 가능하도록 해주는 함수입니다 -- 원래는 찾기 버튼을 눌러야만 검색됨
        // **확정
        function enter() {
            if (window.event.keyCode == 13) {
                search();
            }
        }
        // *참고
        // 1. 아래 찾기 버튼 코드를 참고하면 버튼 태그에 href="javascript:enter();" 이 코드가 있어야 실행됩니다.
        // <button onclick="search()" class="btn btn-outline-secondary" type="button" id="btn_search" href="javascript:enter();">찾기</button>
        
        // 2. 검색어를 입력하는 부분에는 onkeyup="enter()" 이 코드가 있어야 합니당
        // <input type="text" id="teaName" class="form-control kw" onkeyup="enter()">







        /* 찜 좋아요 기능 스크립트 --승신 */

        /* like+scrap 스크립트 */

        async function likeTea(name) {
            let access_token = await get_access_token();

            $.ajax({
                type: 'POST',
                url: '/tea/like_all',
                data: {name_give: name},
                headers: {"Authorization": "Bearer "+ access_token},
                success: function (response) {
                    if(response['alreadyScrap']) {
                        alert(response['alreadyScrap']);
                        window.location.reload()
                    }
                    else if(response['successScrap']){
                        alert(response['successScrap']);
                        window.location.reload()
                    }
                }
            });
        }

        async function get_access_token() {
    let result = await fetch('/get_access_token');
    let token = '';

    if(result.ok) token = await result.json();

    return token;
}

    </script>
</head>


<body>

<div class="title">
    <h1 onClick="window.location.reload()">차정보 가져오기</h1>
</div>

   <!--검색창 추가-->
    <div class='input-box'>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">차 이름</span>
            </div>
                <input type="text" id="teaName" class="form-control kw" onkeyup="enter()">
                <button onclick="search()" class="btn btn-outline-secondary" type="button" id="btn_search" href="javascript:enter();">찾기</button>
                <button onclick="location.href='http://13.124.112.143/tea/scrapPage';" class="btn btn-outline-secondary" type="button">찜목록 가기</button>
            </div>
    </div>
    
    <div>
        <button onclick="sortName()">이름순</button>
        <button onclick="sortLike()">추천순</button>
    </div>

    <div id="box">

    </div>


</body>

</html>

