<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <meta property="og:title" content="차茶정해봅시다"/>
    <meta property="og:description" content="쉽게 알아보는 내게 맞는 차"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}"/>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <title>차 정보 입력하기</title>

    <style>

        .saveform {
            width: 800px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn-save {
            margin: auto;
            margin-bottom: 50px;
            width: 150px;
            display: block;
        }

        .title {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .smalltitle {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .checkboxes {
            margin-top: 7px;
            margin-bottom: 7px;
            margin-left: 10px;
        }

    </style>

</head>

<body>


<div class="title">
    <h1>차정보 입력하기</h1>
</div>

<div class="saveform">

    <div class='teainput'>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">차 이름</span>
            </div>
            <input type="text" id="name" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="smalltitle"><h5>대분류 3가지</h5></div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="blend">블렌딩</label>
            </div>
            <select class="custom-select" id="blend">
                <option selected id="blend">--이 차의 블렌딩 타입은?--</option>
                <option value="스트레이트">스트레이트</option>
                <option value="블렌디드">블렌디드</option>
                <option value="플레이버드">플레이버드</option>
                <option value="기타">--기타--</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">차의 효능 (복수선택가능)</span>
            </div>

            <div class='checkboxes'>
                <input type='checkbox' name='benefit' value='다이어트'/> 다이어트
                <input type='checkbox' name='benefit' value='피부건강'/> 피부건강
                <input type='checkbox' name='benefit' value='피로회복'/> 피로회복
                <input type='checkbox' name='benefit' value='면역증진'/> 면역증진
                <input type='checkbox' name='benefit' value='힐링힐링'/> 힐링힐링
            </div>

        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="caffeineOX">카페인 함유여부</label>
            </div>
            <div class='checkboxes'>카페인 함량을 입력하면 "0"(카페인 없음) 또는 "1"(카페인 함유)로 자동 저장됩니다.</div>

        </div>

        <div class="smalltitle"><h5>상세정보</h5></div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">카페인 함유량</span>
            </div>
            <input type="number" id="caffeine" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">맛, 색, 향 등 설명</span>
            </div>
            <input type="text" id="desc" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주의사항</span>
            </div>
            <input type="text" id="caution" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이미지 주소</span>
            </div>
            <input type="text" id="img" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

    </div>

</div>

<button type="button" onclick="save_tea()" class="btn btn-primary btn-save">등록하기</button>
<button type="button" onclick="" class="btn btn-primary btn-save"><a href="http://localhost:5000/sign"> 로그인 페이지로 </a></button>



<script>

    $(document).ready(function () {

    });

    function save_tea() {

        {#체크박스로 복수선택한 "효능"들을 모아주는 부분#}
        const query = 'input[name="benefit"]:checked';
        const selectedEls =
            document.querySelectorAll(query);

        let result = '';
        selectedEls.forEach((el) => {
            result += el.value + ' ';
        });

        let name = $('#name').val()
        let blend = $('#blend option:selected').val()
        let benefit = result
        let desc = $('#desc').val()
        let caution = $('#caution').val()
        let img = $('#img').val()
        let caffeine = Number($('#caffeine').val())
        let caffeineOX
        if (caffeine == "" || caffeine == 0) {
            caffeineOX = Number(0)
        } else {
            caffeineOX = Number(1)
        }


        $.ajax({
            type: "POST",
            url: "/save",
            data: {
                name_give: name,
                blend_give: blend,
                benefit_give: benefit,
                caffeineOX_give: caffeineOX,
                caffeine_give: caffeine,
                desc_give: desc,
                caution_give: caution,
                img_give: img,
            },
            success: function (response) { // 성공하면
                alert(response["msg"]);

            }



        })
    }

</script>

</body>

</html>