<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <meta property="og:title" content="차茶정해봅시다" />
    <meta property="og:description" content="쉽게 알아보는 내게 맞는 차" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    
    <title>차 정보 입력하기</title>
</head>

<body>

<div class = 'desc'>
        <h1>차정보 입력하기 </h1>
    </div>

    <div class='teainput'>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">차 이름</span>
            </div>
            <input type="text" id="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="blend">블렌딩</label>
            </div>
            <select class="custom-select" id="blend">
                <option selected id="quantity">--이 차의 블렌딩 타입은?--</option>
                <option value="스트레이트">스트레이트</option>
                <option value="블렌디드">블렌디드</option>
                <option value="플레이버드">플레이버드</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="benefit">효능</label>
            </div>
            <select class="custom-select" id="benefit">
                <option selected id="quantity">--이 차의 효능은?--</option>
                <option value="다이어트">다이어트</option>
                <option value="피부건강">피부건강</option>
                <option value="피로회복">피로회복</option>
                <option value="면역증진">면역증진</option>
                <option value="힐링힐링">힐링힐링</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="decaf">카페인 함유여부</label>
            </div>
            <select class="custom-select" id="decaf">
                <option selected id="decaf">--카페인 함유여부?--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">카페인 함유량</span>
            </div>
            <input type="text" id="caffeine" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">맛, 색, 향 등 설명</span>
            </div>
            <input type="text" id="desc" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주의사항</span>
            </div>
            <input type="text" id="caution" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이미지 주소</span>
            </div>
            <input type="text" id="img" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

    </div>

    <button type="button" onclick="save_tea()" class="btn btn-primary btn-order">등록하기</button>



<script>

    $(document).ready(function () {

    });

    function save_tea() {
        let name = $('#name').val()
        let blend = $('#blend option:selected').val()
        let benefit = $('#benefit option:selected').val()
        let decaf = $('#decaf option:selected').val()
        let desc = $('#desc').val()
        let caution = $('#caution').val()
        let img = $('#img').val()
        let caffeine = $('#caffeine').val()



        $.ajax({
            type: "POST",
            url: "/save",
            data: {
                name_give: name,
                blend_give: blend,
                benefit_give: benefit,
                decaf_give: decaf,
                caffeine_give: caffeine,
                desc_give: desc,
                caution_give: caution,
                img_give: img,
            },
            success: function (response) { // 성공하면
                alert(response["msg"]);
                window.location.reload()
            }
        })
    }



</script>


</body>

</html>