
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <meta property="og:title" content="차茶정해봅시다"/>
    <meta property="og:description" content="쉽게 알아보는 내게 맞는 차"/>
    <meta property="og:image" content="/static/ogimage.jpg"/>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <title>차 정보 가져오기</title>

    <link rel="stylesheet" href="../static/style_get.css" />
    <!-- <script src="../static/script/recommend_tea.js"></script> -->

</head>

<body>

<div class="title">
    <h1>차 추천받기(카테고리 선택)</h1>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">차 종류</span>
    </div>
    <div class='checktype'>
        <input type='checkbox' name='type' value='백차'/> 백차
        <input type='checkbox' name='type' value='녹차'/> 녹차
        <input type='checkbox' name='type' value='홍차'/> 홍차
        <input type='checkbox' name='type' value='황차'/> 황차
        <input type='checkbox' name='type' value='청차'/> 청차
        <input type='checkbox' name='type' value='흑차'/> 흑차
        <input type='checkbox' name='type' value='대용차'/> 기타
    </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">효능 (복수)</span>
    </div>
    <div class='checkbenefit'>
        <input type='checkbox' name='benefit' value='다이어트'/> 다이어트
        <input type='checkbox' name='benefit' value='피부미용'/> 피부미용
        <input type='checkbox' name='benefit' value='피로회복'/> 피로회복
        <input type='checkbox' name='benefit' value='면역증진'/> 면역증진
        <input type='checkbox' name='benefit' value='혈액순환'/> 혈액순환
        <input type='checkbox' name='benefit' value='소화기능'/> 소화기능
        <input type='checkbox' name='benefit' value='질병예방'/> 질병예방
        <input type='checkbox' name='benefit' value='정신건강'/> 정신건강
    </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">카페인 (복수)</span>
    </div>
    <div class='checkcaffeine'>
        <input type='checkbox' name='caffeineOX' value='true' /> 카페인
        <input type='checkbox' name='caffeineOX' value='false' /> 디카페인
    </div>
</div>

<button type="button" onclick="find_tea();" class="btn btn-primary btn-save">찾아볼까요</button>

<button type="button" onclick="nameorder();" class="btn btn-primary btn-save">이름순</button>
<button type="button" onclick="likeorder();" class="btn btn-primary btn-save">좋아요순</button>

<div id="box">
</div>

<script>
    function find_tea() {
        /*--------------------------차 종류 체크박스 선택사항 추출-------------------------------- */
        const typequery = 'input[name="type"]:checked';
        const selectedTypes =
            document.querySelectorAll(typequery);
        let type = '';
        var typecount = 0;
        selectedTypes.forEach((el) => {
            if (++typecount == selectedTypes.length) {
                type += el.value
            } else {
                type += el.value + ','
            }
        });
        if (type === '') {
            type += "백차,녹차,홍차,황차,청차,흑차,대용차" /*  선택 안하면 전부 선택한 것으로 처리  */
        }
        const typearr = type.split(','); /*   선택한 차의 종류들을 list 형태의 변수에 저장  */

        /*--------------------------차 효능 체크박스 선택사항 추출-------------------------------- */
        const benefitquery = 'input[name="benefit"]:checked';
        const selectedBenefit =
            document.querySelectorAll(benefitquery);
        let benefit = '';
        var benecount = 0;
        selectedBenefit.forEach((el) => {
            if (++benecount == selectedBenefit.length) {
                benefit += el.value
            } else {
                benefit += el.value + ','
            }
        });
        if (benefit === '') {
            benefit += "다이어트,피부미용,피로회복,면역증진,혈액순환,소화기능,질병예방,정신건강" /*선택 안하면 전부 선택한 것으로 처리*/
        }
        let benefitarr = benefit.split(','); /*   선택한 차의 효능들을 list 형태의 변수에 저장  */

        /*--------------------------카페인 체크박스 선택사항 추출-------------------------------- */
        const caffquery = 'input[name="caffeineOX"]:checked';
        const selectedCaffeine =
            document.querySelectorAll(caffquery);
        let caffeineOX = ""
                if (selectedCaffeine.length != 1) {
            caffeineOX = [true, false]
        } else if (selectedCaffeine[0].value == "true") {
            caffeineOX = [true]
        } else {
            caffeineOX = [false]
        }

        console.log(typearr)
        console.log(benefitarr)
        console.log(caffeineOX)

        $.ajax({
            type: "POST",
            url: "/recommend/find",
            headers: {'Content-Type': 'application/json'},
            dataType: 'json',
            data: JSON.stringify({
                    type_give : typearr,
                    benefit_give : benefitarr,
                    caffeineOX_give : caffeineOX,
                   }),
            success: function (response) {

                $('#box').empty()
                Tea = JSON.parse(response['find_teas'])   /*서버에서 string으로 들어와서 JSON.parse 사용*/
                console.log(Tea)

                for(let i =0; i<Tea.length; i++){
                        let name = Tea[i]['name']
                        let type = Tea[i]['type']
                        let benefit = Tea[i]['benefit']
                        let caffeineOX = Tea[i]['caffeineOX']
                        let caffeine = Tea[i]['caffeine']
                        let benefitdetail = Tea[i]['benefitdetail']
                        let desc = Tea[i]['desc']
                        let caution = Tea[i]['caution']
                        let img = Tea[i]['img']
                        let like = Tea[i]['like']           /* 좋아요/찜 기능 통합에 따라 like 변수 생존여부 결정 */

                        let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button> 좋아요 수 : ${like}</p>
                                         <p><button onclick="scrapTea('${name}')" class="btn btn-outline-secondary">찜</button></p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
                        $('#box').append(temp_html);
                }
            }
        })
    }

    /* 이름순, 좋아요순 정렬하기 */
    var sortJSON = function (data, key, type) {
        if (type == undefined) {
            type = "asc";
        }
        return data.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            if (type == "desc") {
                return x > y ? -1 : x < y ? 1 : 0;
            } else if (type == "asc") {
                return x < y ? -1 : x > y ? 1 : 0;
            }
        });
    };

    function nameorder() {
        $('#box').empty()
        const teabynameorder = sortJSON(Tea, "name", "asc");
        for (let i = 0; i < Tea.length; i++) {
            let name = teabynameorder[i]['name']
            let type = teabynameorder[i]['type']
            let benefit = teabynameorder[i]['benefit']
            let caffeineOX = teabynameorder[i]['caffeineOX']
            let caffeine = teabynameorder[i]['caffeine']
            let benefitdetail = teabynameorder[i]['benefitdetail']
            let desc = teabynameorder[i]['desc']
            let caution = teabynameorder[i]['caution']
            let img = teabynameorder[i]['img']
            let like = teabynameorder[i]['like']           /* 좋아요/찜 기능 통합에 따라 like 변수 생존여부 결정 */

            let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button> 좋아요 수 : ${like}</p>
                                         <p><button onclick="scrapTea('${name}')" class="btn btn-outline-secondary">찜</button></p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
            $('#box').append(temp_html);
        }
    }

    function likeorder() {
        $('#box').empty()
        const teabylikeorder = sortJSON(Tea, "like", "desc");
        for (let i = 0; i < Tea.length; i++) {
            let name = teabylikeorder[i]['name']
            let type = teabylikeorder[i]['type']
            let benefit = teabylikeorder[i]['benefit']
            let caffeineOX = teabylikeorder[i]['caffeineOX']
            let caffeine = teabylikeorder[i]['caffeine']
            let benefitdetail = teabylikeorder[i]['benefitdetail']
            let desc = teabylikeorder[i]['desc']
            let caution = teabylikeorder[i]['caution']
            let img = teabylikeorder[i]['img']
            let like = teabylikeorder[i]['like']           /* 좋아요/찜 기능 통합에 따라 like 변수 생존여부 결정 */

            let temp_html = `<p>name : ${name}</p>
                                         <img class="img-size" src="${img}"/>
                                         <p>${type}</p>
                                         <p>${benefit}</p>
                                         <p>${benefitdetail}</p>
                                         <p>${desc}</p>
                                         <p>${caffeineOX}</p>
                                         <p>${caffeine}</p>
                                         <p>${caution}</p>
                                         <p><button onclick="likeTea('${name}')" class="btn btn-outline-secondary">좋아요</button> 좋아요 수 : ${like}</p>
                                         <p><button onclick="scrapTea('${name}')" class="btn btn-outline-secondary">찜</button></p>
                                         <p> ---------------------------------------------------------------------------------------------- </p>
                                         `
            $('#box').append(temp_html);
        }
    }

</script>

</body>

</html>