<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>로그인페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css" />
        
    <script>

        $(document).ready(function () {
            check_token();            
        });

        let isPassibleID = false;

        function changeID() {
            isPassibleID = false;
            $('#checkIDText').text('중복확인해주세요');
        }

        function checkID() {
            let id = $('#signup_id').val();

            $.ajax({
                type: "POST",
                url: "/sign/checkID",
                //dataType: "json",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(id),
                success: function (response) {

                    if(response["success"]) {
                        alert(response["success"]);
                        isPassibleID = true;
                        $('#checkIDText').text('중복확인완료');
                    }
                    else if(response["fail"]){
                        alert(response["fail"]);                        
                    }                    
                }
            })
        }

        let isPassibleNickname = false;

        function changeNickname() {
            isPassibleNickname = false;
            $('#checkNicknameText').text('중복확인해주세요');
        }

        function checkNickname() {
            
            let nickname = $('#signup_nick').val();

            $.ajax({
                type: "POST",
                url: "/sign/checkNickname",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(nickname),
                success: function (response) {

                    if(response["success"]) {
                        alert(response["success"]);    
                        isPassibleNickname = true; 
                        $('#checkNicknameText').text('중복확인완료');
                    }
                    else if(response["fail"]){
                        alert(response["fail"]);                        
                    }                    
                }
            })
            
        }

        function test_signup() {

            if(isPassibleID&&isPassibleNickname) {

                let id = $('#signup_id').val();
                let pass = $('#signup_pass').val();
                let nickname = $('#signup_nick').val();
                //let encrypt_pass = hash_pass(pass);

                $.ajax({
                    type: "POST",
                    url: "/sign/signup_test",
                    data: { 
                        id_give: id,
                        pass_give: pass,
                        nickname_give: nickname
                    },
                    success: function(response){
                        if(response['success']) {
                            alert(response['success']);
                            window.location.reload();
                        } 
                        else alert('가입실패')                        
                    }
                })

            } else {
                alert('ID와 별명 중복확인 바랍니다.');
            }

        }

        function hash_pass(pass) {

            let result = CryptoJS.SHA512(pass+"kd7baw5v6ru");
            console.log(result);

            return result;
        }

        let isLogin = false;

        function signinout() {
            if(isLogin){
                signout_mode();
                insert_user_token();
            }else{
                let id = $('#signin_id').val();
                let pass = $('#signin_pass').val();
                
                $.ajax({
                    type: "POST",
                    url: "/sign/signin",
                    data: { 
                        id_give: id,
                        pass_give: pass,                    
                    },
                    success: function(response){
                        if(response['success']) {
                            alert(response['success']);
                            insert_user_token(id);                                                       
                            window.location.reload();
                        } 
                        else alert(response['fail'])
                    }
                })
            }
        }

        function insert_user_token(user_id) {

            console.log(user_id);

            let access_token_url = "/set_access_token";
            let refresh_token_url = "/set_refresh_token";
            
            if(user_id) {
                console.log('로그인')

                $.ajax({
                    type: "POST",
                    url: access_token_url,
                    data: {
                        id_give: user_id
                    }                
                })
                $.ajax({
                    type: "POST",
                    url: refresh_token_url,
                    data: {
                        id_give: user_id
                    }                
                })
            }else {
                console.log('로그아웃')

                fetch(access_token_url);
                fetch(refresh_token_url);
            }

        }

        async function get_access_token() {
            let result = await fetch('get_access_token');
            let token = await result.text()
            return token;
        }

        async function get_refresh_token() {
            let result = await fetch('get_refresh_token');
            let token = await result.text()
            return token;
        }

        function get_payload(token) {

            console.log(token)

            let base64Payload = token.split('.')[1]; //value 0 -> header, 1 -> payload, 2 -> VERIFY SIGNATURE
            let payload = atob(base64Payload);
            
            console.log(payload);

            return payload;
        }

        function get_payload_exp(token) {

            let exp = get_payload(token).split(',')[6].split(':')[1].split('}')[0];

            return +exp;
        }

        function refreshing_token(refresh_token) {
            $.ajax({
                type: "GET",
                url: "/refresh",
                headers: {"Authorization": "Bearer "+ refresh_token},
                success: function(response){
                    insert_user_token(response)
                }
            })
        }

        function signin_mode() {
            isLogin = true;
            $('#signupPage').hide();
            $('#signinPage').hide();
            $('#signinoutBtn').text('로그아웃');
        }

        function signout_mode() {
            isLogin = false;
            $('#signupPage').show();
            $('#signinPage').show();
            $('#signinoutBtn').text('로그인');
        }

        async function check_token() {

            let date = new Date();
            let numberic_date = parseInt(date/1000)
            console.log(numberic_date);

            let access_token = await get_access_token();
            

            let access_payload_exp = get_payload_exp(access_token);            

            if(access_payload_exp > numberic_date) {
                signin_mode();
            } else {
                let refresh_token = await get_access_token();
                console.log(refresh_token);
                               
                let refresh_payload_exp = get_payload_exp(refresh_token);
                console.log(refresh_payload_exp);

                if(refresh_payload_exp > numberic_date) {
                    refreshing_token();
                } else {
                    signout_mode();
                }

            }
        }

        let isPassiblePassword = false;

        function check_change_password() {
            isPassiblePassword = false;

            let new_pass = $('#new_pass').val();
            let new_pass_check = $('#new_pass_check').val();

            if(new_pass === new_pass_check) {
                isPassiblePassword = true;
                $('#checkPasswordText').text('새로운 비밀번호 확인 완료')
            } else {
                $('#checkPasswordText').text('새로운 비밀번호를 확인해 주세요.')
            }
        }

        async function test_change_pass() {
            if(isPassiblePassword) {
                let current_pass = $('#current_pass').val();
                let new_pass = $('#new_pass').val();
                await check_token();   
                let access_token = await get_access_token();
                
                $.ajax({
                    type: "POST",
                    url: "/sign/change_pass",
                    headers: {"Authorization": "Bearer "+ access_token},
                    data: {                        
                        pass_give: current_pass,
                        new_pass_give: new_pass                    
                    },
                    success: function(response){
                        if(response['success']) {
                            alert(response['success']);
                            window.location.reload();
                        } 
                        else if(response['fail']) {
                            alert(response['fail']);                            
                        }
                    }
                })
            }else {
                alert('새로운 비밀번호를 확인해 주세요.')
            }

        }

        function test_delete_user() {

        }

    </script>
</head>
<body>
<div id='bodywrap'>
    <div id='signupPage'>
        <h1>회원가입 페이지</h1>
        <h5>아이디, 패스워드, 별명을 입력해주세요</h5>

        <p>ID: <input type="text" id="signup_id" oninput="changeID()"/><button type="button" onclick="checkID();">ID중복확인</button></p>        
        <p id="checkIDText"></p>
        <p>PW: <input type="password" id="signup_pass"/></p>
        <p>NICKNAME: <input type="text" id="signup_nick" oninput="changeNickname()"/><button type="button" onclick="checkNickname();">별명중복확인</button></p>
        <p id="checkNicknameText"></p>            
        <button type="button" onclick="test_signup();">가입하기</button>
    </div>
    <div id='signinPage'>
        <h1>로그인 페이지</h1>
        <h5>아이디, 패스워드를 입력해주세요</h5>

        <p>ID: <input type="text" id="signin_id"/></p>
        
        <p>PW: <input type="password" id="signin_pass"/></p>
                
    </div>
    <button type="button" id='signinoutBtn' onclick="signinout();">로그인</button>
    <div>
        <h1>비밀변호 변경 페이지</h1>
        <h5>기존 비밀번호와 새로운 비밀번호를 입력해주세요</h5>

        <p>기본 비밀번호: <input type="password" id="current_pass"/></p>
        
        <p>새로운 비밀번호: <input type="password" id="new_pass" oninput="check_change_password();"/></p>
        <p>새로운 비밀번호확인: <input type="password" id="new_pass_check" oninput="check_change_password();"/></p>
        <p id="checkPasswordText"></p>
        <button type="button" onclick="test_change_pass();">비밀번호변경</button>
    </div>
    <div>
        <h1>회원탈퇴 페이지</h1>
        <h5>패스워드를 입력해주세요</h5>

        <p>ID: <input type="text" id="user_id"/></p>
        
        <p>PW: <input type="password" id="user_pass"/></p>
        
        <button type="button" onclick="test_delete_user();">탈퇴하기</button>
    </div>
</div>
</body>
</html>